@media screen and (min-width: 480px){

}

.heading {
    text-align: left;
}

.name, .aboutme {
    padding-left: 20px;
}

blockquote {
    padding-top: 20px;
}

.container {
    padding-top: 30px;
}

.well img {
    width: 100%;
    float: left:
}

.programming {
    font-size: 16px
}

https://github.com/mhaldeman8875/lili