.heading {
    text-align: left;
}

.name, .aboutme {
    padding-left: 20px;
}

blockquote {
    padding-top: 20px;
}

.container {
    padding-top: 30px;
}

.well img {
    width: 100%;
    float: left:
}

.abox {
    margin: 12px;
    border: 1px solid lightgray;
    padding: 4px;
    background-color: white;
    text-align: center;
}
.programming {
    font-size: 16px
}

body {
    font-family: font-family: "CenturyGothic", "AppleGothic", sans-serif;
}